###############################################################################
# bootstrap
#
# Copy this file to .env and edit as needed:
#
#   cp .env.example .env
#
# The .env file is intentionally ignored by Git.
###############################################################################
###############################################################################
# System
###############################################################################
SYSTEM_LOCALE=en_US.UTF-8
SYSTEM_TIMEZONE=Europe/Madrid
KEYBOARD_LAYOUT=se
KEYBOARD_MODEL=pc105
###############################################################################
# SSH
###############################################################################
SSH_PORT=1122
###############################################################################
# Automatic updates
###############################################################################
AUTOUPDATES_AUTOMATIC_REBOOT=true
AUTOUPDATES_REBOOT_TIME=04:30
###############################################################################
# User account
###############################################################################
#USERNAME=hemma
###############################################################################
# Optional: Tailscale
###############################################################################
# TAILSCALE_AUTH_KEY=
###############################################################################
# Optional: Dynamic DNS
###############################################################################
#
###############################################################################
# Optional: Notifications
###############################################################################
# SMTP_SERVER=
# SMTP_PORT=587
# SMTP_USERNAME=
# SMTP_PASSWORD=
###############################################################################
# Optional: GitHub
###############################################################################
# GITHUB_TOKEN=
